{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %} 
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% endblock meta %}
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'css/global.css' %}"/>
</head>

<body>
    {% block content %} {% endblock content %}
    <footer id="about" class="text-center bg-gray-800 text-gray-50 py-4 text-sm">
        Ozon Sportswear &copy; 2025. All rights reserved.
    </footer>
    {% include 'toast.html' %}
    {%include 'modal.html' %}
</body>
</html>