{% extends 'base.html' %} 
{% block content %}

<h1>Catalogue</h1>

<hr>

<a href="{% url 'main:show_main' %}">
  <button>Back to Main</button>
</a>

<br><br>

<a href="{% url 'main:add_product' %}">
  <button>+ Add Product</button>
</a>

<hr>

<a href="?filter=all">
    <button type="button">All Product</button>
</a>
<a href="?filter=my">
    <button type="button">My Product</button>
</a> 

{% if not product_list %}
<p>There is no available product yet.</p>
{% else %}

{% for product in product_list %}
<div>
  <h2><a href="{% url 'main:show_product' product.id %}">{{ product.name }}</a></h2>
  
  {% if product.thumbnail %}
  <img src="{{ product.thumbnail }}" alt="thumbnail" width="200" height="200">
  <br />
  {% endif %}
  
  <p><b>{{ product.get_category_display }}</b>{% if product.is_featured %} | 
    <b>Featured</b>{% endif %}</p>


  <a href="{% url 'main:show_product' product.id %}"><button>Detail</button></a>
  {% if user.is_authenticated and product.user == user %}
    <a href="{% url 'main:edit_product' product.pk %}">
        <button>
            Edit
        </button>
    </a>
    <a href="{% url 'main:delete_product' product.pk %}">
        <button>
            Delete
        </button>
    </a>

    {% endif %}
</div>

<hr>
{% endfor %}

{% endif %}

{% endblock %}