 {% extends 'base.html' %}
 {% block content %}
<h1>OZON</h1>

<h3>App: </h3>
<p>{{ app }}</p> 
<h3>Name: </h3>
<p>{{ name }}</p> 
<h3>NPM: </h3>
<p>{{ npm }}</p> 

<a href="{% url 'main:add_product' %}">
  <button>+ Add Product</button>
</a>

<hr>

{% if not product_list %}
<p>There is no available product yet.</p>
{% else %}

{% for product in product_list %}
<div>
  <h2><a href="{% url 'main:show_product' product.id %}">{{ product.name }}</a></h2>

  <p><b>{{ product.get_category_display }}</b>{% if product.is_featured %} | 
    <b>Featured</b>{% endif %}

  {% if product.thumbnail %}
  <img src="{{ product.thumbnail }}" alt="thumbnail" width="300" height="300">
  <br />
  {% endif %}

  <p><a href="{% url 'main:show_product' product.id %}"><button>Detail</button></a></p>
</div>

<hr>
{% endfor %}

{% endif %}

 {% endblock content %}